 body { background: linear-gradient(90deg, rgba(207, 122, 122,1)2%, 
                                                rgba(14, 133, 14,1)50%, 
                                              rgba(252, 166, 69,1)100%);
            
                padding: 30px 40px;                              
                color: rgb(2, 2, 2);
                text-align: center;                
                    width: 50%;
                    margin: 0 auto;
                    font-family: Arial, Helvetica, sans-serif}

header {
  font-size: 1.5rem;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border:rgb(2, 2, 2);
  background: white;
}

form{ color: turquoise;
background: white;
cursor: pointer;
transition: all 0.3s ease;
}

form button:hover { background: turquoise;
                    color: white;}

.todo-List {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.todo li {
  flex: 1;
}

.trashbtn, .complete-btn {
  background: rgb(236, 233, 233);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn{ background: rgba(14, 133, 14,1);}