body { background-image: url(./L04/task_material_winter/Station_1_Positionierung/images/bg.png);
color: white; }

.Karte{margin: 0%;  
       position: absolute;
       left:50%;
     top: 50%; 
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);}


    .Pinguin { position: absolute;
               left: 820px;
               top: 420px;}

.Busch{position: absolute;
    left: 300px;
    top: 120px ;}

.Text{color: white;
    position: absolute;
padding: 220px 550px 180px 420px;}