body { background-image: url(./L04/task_material_winter/Station_3_Hover/images/bg.png) ;
color: white;
font-family: Arial, Helvetica, sans-serif;}

.Karte{margin: 0%;  
    position: absolute;
    left:50%;
  top: 50%; 
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}

 .stern1{ position: absolute;
                left: 450px;
                top: 400px;}

 .stern1_{position: absolute;
                left: 450px;
                top: 400px;
                opacity: 0;}
                
            .stern1_:hover{
                opacity: 100;}

 .stern2{ position: absolute;
    left: 525px;
    top: 370px;}

  .stern2_{ position: absolute;
    left: 525px;
    top: 370px;
    opacity: 0;}

  .stern2_:hover{
    opacity: 100;}

   .stern3{  position: absolute;
        left: 600px;
        top: 400px;}

    .stern3_{ position: absolute;
        left: 600px;
       top: 400px;
        opacity: 0;}

    .stern3_:hover{
        opacity: 100;}

        .stern4{ position: absolute;
            left: 700px;
          top: 370px;}
       
       .stern4_{
            position: absolute;
            left: 700px;
            top: 370px;
            opacity: 0;}

        .stern4_:hover{
            opacity: 100;}  

h1 { position: absolute ;
        left: 450px;
        top: 210px}
       





.Text{color: white;
 position: absolute;
padding: 220px 550px 180px 420px;}